html {
  background-color: hsl(var(--clr-neutral-400));
}

body {
  min-height: 100vh;
  background-color: hsl(var(--clr-neutral-100));
  max-width: 75rem;
  margin: 0 auto;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-inline: 1rem;
  min-height: 100vh;
}

#app > header {
  margin-top: 1rem;
}

#app > header img {
  max-width: 15rem;
  max-height: clamp(50px,7vw,90px);
}

@media screen and (min-width: 50rem) {
  #app > header {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }

  .main-nav__login {
    flex-grow: 1;
    text-align: right;
  }

  #app > header img {
    margin-bottom: 0;
  }
}

.sub-nav {
  display: flex;
  gap: clamp(1.5em,5vw,3em);
  margin-top: 1rem;
}

.sub-nav a {
  font-size: 1.25em;
  color: hsl(var(--clr-neutral-800));
  text-decoration: none;
}

.sub-nav a.router-link-active {
  color: hsl(var(--clr-accent1-400));
}

#app > main,
.main-content
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#app > main {
  margin-top: 1rem;
}

#app > footer {
  text-align: center;
  font-size: 0.7em;
  color: hsl(var(--clr-primary-400) / 0.7);
  user-select: none;
}
