label {
  font-weight: bold;

  span.required {
    font-size: 0.7em;
    color: map.get($theme, button-destructive, color);
    vertical-align: super;
  }
}

input[type=text], input[type=password] {
  padding: 0.5em 2em 0.5em 0.5em;
  outline-color: colorStep(button-primary, $darken: false, $step: 5);
  border: 1px solid colorStep(button-secondary, $step: 2);
  border-radius: 3px;

  &:invalid, &.error {
    outline-color: colorStep(button-destructive, $step: 2);
    border: 1px solid colorStep(button-destructive, $step: 2);
  }
}

button, input[type=submit] {
  @include button(button-secondary);
}

button.primary, input[type=submit].primary {
  @include button(button-primary);
}

button.destructive, input[type=submit].destructive {
  @include button(button-destructive);
}

div.fieldset {
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
  }

  &.inline {
    flex-direction: row;
    align-items: center;

    input {
      width: auto;
      margin-left: 1em;
    }
  }

  & + & {
    margin-top: 1em;
  }
}
