@import url('./reset.module.css');
@import url('./theme.module.css');
@import url('./tables.module.css');
@import url('./forms.module.css');
@import url('./utility.module.css');

body {
  font-size:               12pt;
  line-height:             1.5;
  color:                   hsl(var(--clr-primary-400));
  font-family:             Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}
