@import url('./reset.module.css');
@import url('./theme.module.css');

body {
  font-size:               12pt;
  line-height:             1.5;
  color:                   hsl(var(--primary-font-color));
  font-family:             Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:        hsl(var(--primary-bg-color));
  margin:                  0;
}
