/*
 * FORM ELEMENTS
 */

label {
  font-weight: bold;
}

label span.required {
  font-size: 0.7em;
  color: hsl(var(--clr-destructive-600));
  vertical-align: super;
}

input[type=text],
input[type=password]
{
  padding: 0.5em;
  outline-color: hsl(var(--clr-accent1-400));
  border: 1px solid hsl(var(--clr-accent1-300));
  border-radius: var(--border-radius);
  width: 100%;
}

input[type=text]:invalid,
input[type=password]:invalid,
input[type=text].error,
input[type=password].error
{
  outline-color: hsl(var(--clr-destructive-400));
  border: 1px solid hsl(var(--clr-destructive-400));
}

input:is([type=text], [type=password]):disabled {
  border-color: hsl(var(--clr-neutral-400));
  color: hsl(var(--clr-primary-400) / 0.75);
}

/*
 * BUTTONS
 */

button,
input[type=submit]
{
  --clr-font: var(--clr-primary-400);
  --clr-bg: var(--clr-neutral-300);
  --clr-border: var(--clr-neutral-500);

  outline: 0;
  padding: 0.5em;
  min-width: 100px;
  user-select: none;
  cursor: pointer;

  color: hsl(var(--clr-font));
  background-color: hsl(var(--clr-bg));
  border: 1px solid hsl(var(--clr-border));
  border-radius: var(--border-radius);

  transition-property: filter, background-color;
  transition-duration: 0.15s;
  transition-delay: 0;
}

button:hover:enabled,
input[type=submit]:hover:enabled
{
  filter: brightness(0.9);
}

button:active:enabled,
input[type=submit]:active:enabled
{
  filter: brightness(1);
}

button:focus:enabled,
input[type=submit]:focus:enabled
{
  --clr-border: var(--clr-accent1-300);
  text-decoration: underline;
}

button:disabled,
input[type=submit]:disabled
{
  --clr-font: var(--clr-primary-400) / 0.75;
  font-style: italic;
  cursor: inherit;
}

/*
 * BUTTON VARIANT - DESTRUCTIVE
 */

button.destructive,
input[type=submit].destructive,
.modal.destructive button.primary
{
  --clr-font: var(--clr-destructive-100);
  --clr-bg: var(--clr-destructive-400);
  --clr-border: var(--clr-destructive-500);
}

button.destructive:disabled,
input[type=submit].destructive:disabled,
.modal.destructive button.primary:disabled
{
  --clr-font: var(--clr-destructive-100) / 0.75;
}

button.destructive:focus,
input[type=submit].destructive:focus,
.modal.destructive button.primary:focus
{
  --clr-border: var(--clr-destructive-900);
}

/*
 * BUTTON VARIANT - PRIMARY
 */

button.primary,
input[type=submit].primary
{
  --clr-font: var(--clr-accent1-100);
  --clr-bg: var(--clr-accent1-400);
  --clr-border: var(--clr-accent1-500);
}

button.primary:disabled,
input[type=submit].primary:disabled
{
  --clr-font: var(--clr-accent1-100) / 0.75;
}

button.primary:focus,
input[type=submit].primary:focus
{
  --clr-border: var(--clr-accent1-900);
}

button.secondary {
  border: none;
  background-color: transparent;
}

button.secondary:hover {
  text-decoration: underline;
}

/*
 * FIELDSET
 */

:is(.form, form) .fieldset {
  display: flex;
  flex-direction: column;
}

:is(.form, form) .fieldset + .fieldset {
  margin-top: 1em;
}

:is(.form, form) .fieldset.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

:is(.form, form) .fieldset.inline label {
  width: 12em;
}

.fieldset.inline {
  /* Inline input components not in a form should be displayed side by side. */
  display: inline-block;
}
