*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size-default, 1rem);
}

h1 {
  font-size: var(--font-size-800, 1.75em);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul, ol {
  margin-left: var(--margin-600, 2rem);
}
