:root {
  --clr-neutral-100: 200 8% 98%;
  --clr-neutral-300: 200 8% 93%;
  --clr-neutral-400: 200 8% 88%;
  --clr-neutral-500: 200 8% 80%;
  --clr-neutral-900: 0 0% 0%;

  --clr-primary-400: 210 29% 24%;

  --clr-accent1-100: 0 0% 100%;
  --clr-accent1-200: 211 100% 75%;
  --clr-accent1-300: 211 100% 55%;
  --clr-accent1-400: 211 100% 46%;
  --clr-accent1-500: 211 100% 41%;
  --clr-accent1-600: 211 100% 36%;
  --clr-accent1-900: 0 0% 0%;

  --clr-destructive-100: 0 0% 100%;
  --clr-destructive-200: 354 70% 74%;
  --clr-destructive-300: 354 70% 64%;
  --clr-destructive-400: 354 70% 54%;
  --clr-destructive-500: 354 70% 44%;
  --clr-destructive-600: 354 70% 24%;
  --clr-destructive-900: 0 0% 0%;

  --border-radius: 0.25em;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
