/* LAYOUT HELPERS */

.section {
  /* Introduces block spacing around the element itself */

  margin-block: var(--section-spacer, var(--margin-400));
}

.flow > *:where(:not(:first-child)) {
  /* Introduces spacing between elements again. */

  margin-top: var(--flow-spacer, var(--margin-400));
}

.container {
  /* Indents a section */

  padding-inline: clamp(1rem, 5cqi, 10rem);
  width: 100%;
  max-width: var(--content-width, 80rem);
  margin-inline: auto;
}

.flex-group {
  /* Turns the element into a responsive flex container. */

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--flex-group-gap, 1rem);
}

@media screen and (min-width: 47rem) {
  .flex-group {
    flex-direction: row;
  }
}

.flex-group[data-flex-type='start'] {
  justify-content: flex-start;
}

.flex-group[data-flex-type='end'] {
  justify-content: flex-end;
}

.flex-group[data-flex-direction='row'] {
  flex-direction: row;
}

.flex-group[data-flex-direction='column'] {
  flex-direction: column;
}

.flex-group[data-flex-align='baseline'] {
  align-items: baseline;
}

.main-wrapper {
  /* Should be applied to the main div #app of the application. */

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  background-color: hsl(var(--clr-neutral-300));
}

.main-header img {
  max-width: 15rem;
  max-height: clamp(50px,7vw,90px);
  margin-block: 0.15rem;
}

.main-header .flex-group {
  align-items: center;
}

.main-content {
  /* Place this on elements that you want to "drill down" the main height to. */

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.main-wrapper > .main-content,
.main-content .main-content,
.flex-100 {
  /* Forces subsequent .main-content elements to take up the most space.*/

  flex: 1 100%;
}

.width-100 {
  width: 100%;
}

.main-footer {
  /* The site has a very small footer with version information. */

  font-size: 0.8em;
  text-align: center;
  opacity: 0.5;
  user-select: none;
}

/* STYLE HELPERS */

.sub-nav a {
  /* Nice styling for primary groups of links. */

  font-size: 1.25em;
  color: hsl(var(--clr-neutral-800));
  text-decoration: none;
  width: fit-content;

  background:
    linear-gradient(currentColor 0 0)
    bottom
    left / var(--underline-width, 0%) 0.1em
    no-repeat;

  transition: .25s;
}

.sub-nav a:where(:hover, :active, :focus) {
  --underline-width: 100%;
  color: hsl(var(--clr-accent1-600));
  outline: 0;
}

.sub-nav a.router-link-active {
  color: hsl(var(--clr-accent1-400));
}

.sub-menu {
  padding-block: 0.5rem;
  background-color: hsl(var(--clr-neutral-400));
  border-top: 1px solid hsl(var(--clr-neutral-500));
  border-bottom: 1px solid hsl(var(--clr-neutral-500));
}

.tool-strip {
  /* Used for groups of buttons that automatically wrap on small screens. */

  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  padding-block: 0.1rem;
}

.pagination-buttons {
  /* Remove styling and center buttons on the page. */

  text-align: center;
  margin-top: var(--margin-400);
}

.pagination-buttons button {
  background-color: transparent;
  border: none;
}

.pagination-buttons button:enabled:hover {
  text-decoration: underline;
}

.scroll-wrapper {
  /* Wrap a table element with this class to enable horizontal scrolling. */

  max-width: 100%;
  overflow-y: auto;
}

.help-text {
  /* Add this to an element to emphasize or provide help context. */

  font-size: var(--font-size-200);
  font-style: italic;
  line-height: 2;
}

.error {
  /* Add this to an element to emphasize the element's content as an error */

  color: hsl(var(--clr-destructive-500));
}

.loading {
  /* Add this to a component that's still loading data. */

  opacity: 0.4;
}

.split-data {
  /** Splits an element's contents in two and places dots in the space between. */

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.split-data :nth-child(1) {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.split-data :nth-child(1)::after {
  content: '......................................................................................................................................................................................................'
}

/* FONT HELPERS */

.emphasis {
  font-weight: bold;
}

.no-select {
  user-select: none;
}

.size-xxl {
  font-size: var(--font-size-900);
}

.size-xl {
  font-size: var(--font-size-800);
}

.size-l {
  font-size: var(--font-size-700);
}

.size-m {
  font-size: var(--font-size-400);
}

.size-s {
  font-size: var(--font-size-300);
}

.size-xs {
  font-size: var(--font-size-200)
}

.size-xxs {
  font-size: var(--font-size-100);
}
