.pagination-buttons {
  text-align: center;
}

.scroll-wrapper {
  max-width: 100%;
  overflow-y: auto;
}

.help-text {
  font-size: 0.85em;
  font-style: italic;
  line-height: 2;
}

.error {
  color: hsl(var(--clr-destructive-500));
}
