.pagination-buttons {
  text-align: center;
  margin-top: 1em;
}

.pagination-buttons button {
  background-color: transparent;
  border: none;
}

.pagination-buttons button:enabled:hover {
  text-decoration: underline;
}

.scroll-wrapper {
  max-width: 100%;
  overflow-y: auto;
}

.help-text {
  font-size: 0.85em;
  font-style: italic;
  line-height: 2;
}

.error {
  color: hsl(var(--clr-destructive-500));
}
