html {
  background-color: hsl(var(--clr-neutral-400));
}

body {
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  overflow-y: scroll;

  background-color: hsl(var(--clr-neutral-100));
  border-left: 2px solid hsl(var(--clr-neutral-500));
  border-right: 2px solid hsl(var(--clr-neutral-500));
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  display: grid;
  padding: 0 0.5em;
}

.main-nav__login {
  grid-row: 2;
}

.sub-nav {
  display: flex;
  gap: clamp(1.5em,5vw,3em);
  margin: 0.75em 0.75em 0.25em 0.75em;
}

.sub-nav a {
  font-size: 1.25em;
  color: hsl(var(--clr-neutral-800));
  text-decoration: none;
}

.sub-nav a.router-link-active {
  color: hsl(var(--clr-accent1-400));
}

@media screen and (min-width: 50em) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

.sub-menu {
  margin-top: 1rem;
  padding: 1rem 0;
  background-color: hsl(var(--clr-neutral-400));
  border-top: 1px solid hsl(var(--clr-neutral-500));
  border-bottom: 1px solid hsl(var(--clr-neutral-500));
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  font-size: 0.7em;
  color: hsl(var(--clr-primary-400) / 0.7)
}
