@import "@/scss/_reset.scss";
@import "@/scss/_common.scss";
@import "@/scss/_forms.scss";

body {
  margin: 0px auto;
  max-width: 1200px;
  overflow-y: scroll; // Show vertical scrollbar to prevent shifting of elements
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: map.get($theme, primary, color);
  border-left: 1px solid colorStep(primary, $step: 3);
  border-right: 1px solid colorStep(primary, $step: 3);
}

header { margin: 0 1.5em; }

.main-nav {
  display: grid;
  align-items: flex-start;
  margin-top: 1em;
  gap: 1rem;

  & h1 {
    line-height: 1;
    font-size: clamp(1.2rem, 2.5vw, 2rem);

    img {
      display: block;
      max-height: clamp(50px, 7vw, 90px);
      width: auto;

      @media screen and (min-width: 900px) {
        display: inline;
      }
    }
  }

  &__login {
    grid-row: 2 / 3;
    text-align: left;
  }

  @media screen and (min-width: 750px) {
    display: flex;
    align-items: flex-end;

    &__instances {
      margin-left: 1em;
    }

    &__login {
      text-align: right;
      flex-grow: 1;
    }
  }
}

.sub-nav {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  gap: clamp(1.5em, 5vw, 3em);

  a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 100;
  }

  &--padded {
    padding: 0 1.5em;
  }

  @media screen and (min-width: 750px) {
    flex-direction: row;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

footer {
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  color: rgba(0,0,0,0.5);
  user-select: none;
}
