@import "@/scss/_reset.scss";
@import "@/scss/_common.scss";
@import "@/scss/_forms.scss";

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

@media (min-width: 800px) {
  #app {
    justify-content: center;
  }
}
