body {
  font-size:               12pt;
  line-height:             1.5;
  color:                   map.get($theme, primary, font-color);
  font-family:             Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:        map.get($theme, secondary, color);
  margin:                  0;
}

p.error, span.error, strong.error, li.error, ul.errors li {
  color: map.get($theme, button-destructive, color);
}

p.help-text {
  font-size: 0.9em;
  font-style: italic;
  font-weight: lighter;
  margin: 0;
}
