* { padding: 0; margin: 0; }
ul, ol { margin-left: 1.1em; }

body {
  font-size:               12pt;
  color:                   map.get($theme, primary, font-color);
  font-family:             Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:        map.get($theme, secondary, color);
}

label {
  font-weight: bold;
  font-size: 1.2em;
}

input[type=text] {
  line-height: 2em;
  font-size: 1rem;
}

#app {
  min-height: 100vh;
  max-width:  960px;
  margin:     0 auto;
  padding:    0 1em;

  grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";

  display:               grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows:    auto 1fr auto;
  grid-gap:              1em;

  background-color: map.get($theme, primary, color);
  border-left:      1px solid colorStep(primary, $step: 3);
  border-right:     1px solid colorStep(primary, $step: 3);

  & .navigation { grid-area: header; }
  & .side-panel { grid-area: nav; }
  & .main-panel { grid-area: content; }
  & .main-panel.full { grid-column: 1 / 4; }
  & .footer {
    grid-area: footer;
    font-size: 0.8em;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    color: rgba(0,0,0,0.5);
    user-select: none;
  }
}

@media only screen and (max-width: 600px) {
  #app {
    display: block;

    & .side-panel {
      margin: 1em 0;
    }

    & .main-panel {
      margin: 1em 0;
    }

    & .navigation {
      font-size: 0.9em;
      display: block;
    }
  }
}
