@mixin button($class: 'button-primary') {
  outline: 0;
  margin: 0.25em;
  padding: 0.5em;
  min-width: 100px;
  cursor: pointer;

  color: map.get($theme, $class, font-color);
  background-color: map.get($theme, $class, color);
  border: 1px solid colorStep($class);
  border-radius: 3px;

  transition-property: background-color;
  transition-duration: 0.15s;
  transition-delay: 0;

  &:disabled {
    cursor: inherit;
    color: colorStep($class, $darken: false, $step: 10, $colorMap: font-color);

    &:hover, &:focus, &:active {
      color: colorStep($class, $darken: false, $step: 10, $colorMap: font-color);
      background-color: inherit;
    }
  }

  &:hover, &:focus {
    $bg: colorStep($class);

    color: chooseColor(
      $bg,
      map.get($theme, $class, font-color),
      map.get($theme, $class, font-color-alt)
    );

    background-color: $bg;
    border-color: colorStep($class, $step: 2);
  }

  &:active {
    $bg: colorStep($class, $step: 2);

    color: chooseColor(
      $bg,
      map.get($theme, $class, font-color),
      map.get($theme, $class, font-color-alt)
    );

    background-color: $bg;
    border-color: colorStep($class, $step: 3);
  }
}
