@mixin button($class: 'button-primary') {
  outline: 0;
  padding: 0.5em;
  margin: 0.25em;
  min-width: 100px;
  cursor: pointer;

  color: map.get($theme, $class, font-color);
  background-color: map.get($theme, $class, color);
  border: 1px solid colorStep($class);
  border-radius: 3px;

  transition-property: background-color;
  transition-duration: 0.15s;
  transition-delay: 0;

  &:disabled {
    cursor: inherit;
    color: rgba(colorStep($class, $colorMap: 'font-color'), 0.5);
    background-color: colorStep($class);
    border-color: colorStep($class, $darken: true);

    &:hover, &:focus, &:active {
      color: rgba(colorStep($class, $colorMap: 'font-color'), 0.5);
      background-color: colorStep($class, $darken: true);
      border-color: colorStep($class, $darken: true);
    }
  }

  &:hover, &:focus {
    $bg: colorStep($class);

    color: chooseColor(
      $bg,
      map.get($theme, $class, font-color),
      map.get($theme, $class, font-color-alt)
    );

    background-color: $bg;
    border-color: colorStep($class, $step: 2);
  }

  &:active {
    $bg: colorStep($class, $step: 2);

    color: chooseColor(
      $bg,
      map.get($theme, $class, font-color),
      map.get($theme, $class, font-color-alt)
    );

    background-color: $bg;
    border-color: colorStep($class, $step: 3);
  }
}

@mixin input-reset() {
  color: rgba(0,0,0,0.4);
  position: absolute;
  width: 25px;
  top: 0px;
  right: 0px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

@mixin round-border() {
  border: 1px solid colorStep(primary, $step: 8);
  border-radius: 0.25rem;
}

@mixin table($selectable: true) {
  @include round-border();

  width: 100%;
  border-spacing: 0;

  &.loading {
    opacity: 0.5;
  }

  & tr {
    text-align: left;
  }

  & tr :first-child{
    padding-left: 0.5em;
  }

  & th:last-child:not(.left, .center),
  & td:last-child:not(.left, .center)
  {
    text-align: right;
    padding-right: 0.5em;
  }

  & thead th {
    padding: 0.25em 0.25em;

    &.right {
      text-align: right;
    }

    &.center {
      text-align: center;
    }
  }

  & tbody tr {
    @if $selectable {
      cursor: pointer;

      &.selected {
        $bgcolor: colorStep(accent1, $step: 6, $darken: false);
        background-color: $bgcolor;

        color: chooseColor(
          $bgcolor,
          map.get($theme, accent1, font-color),
          map.get($theme, accent1, font-color-alt)
        );

        &:hover {
          $bgcolor: colorStep(accent1, $step: 4, $darken: false);
          background-color: $bgcolor;

          color: chooseColor(
            $bgcolor,
            map.get($theme, accent1, font-color),
            map.get($theme, accent1, font-color-alt)
          );
        }
      }
    }

    td {
      padding: 0.5em 0.25em;
      @if $selectable { user-select: none; }

      &.right {
        text-align: right;
      }

      &.center {
        text-align: center;
      }
    }

    &:nth-child(even) {
      $bgcolor: colorStep(secondary, $step: 0, $darken: false);
      background-color: $bgcolor;

      color: chooseColor(
        $bgcolor,
        map.get($theme, secondary, font-color),
        map.get($theme, secondary, font-color-alt)
      );
    }

    @if $selectable {
      &:hover {
        $bgcolor: colorStep(secondary, $step: 3, $darken: true);
        background-color: $bgcolor;

        color: chooseColor(
          $bgcolor,
          map.get($theme, secondary, font-color),
          map.get($theme, secondary, font-color-alt)
        );
      }
    }
  }
}
